BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG I2C_PORT=ENABLE MY_ASSP=OFF CONFIGURATION=CFG_EBRUFM ONE_TIME_PROGRAM=OFF JTAG_PORT=ENABLE CONFIG_SECURE=OFF SHAREDEBRINIT=DISABLE SDM_PORT=DISABLE SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE ;
USERCODE HEX "01234567" ; 
TRACEID "00010010" ; 
CUSTOM_IDCODE HEX "01234567" ; 
FREQUENCY NET "lcd_clk_derived_clockgen" 12.000000 MHz ;// brd_clk
FREQUENCY NET "lcd_clk_derived_clock" 2.000000 MHz ;
FREQUENCY NET "PicoLCDdriver_u/lcdstate_derived_clock_0" 2.000000 MHz ;
FREQUENCY NET "PicoLCDdriver_u/lcdstate_derived_clock_1" 2.000000 MHz ;
FREQUENCY NET "PicoLCDdriver_u/lcdstate_derived_clock_2" 2.000000 MHz ;
FREQUENCY NET "PicoLCDdriver_u/lcdstate_derived_clock_3" 2.000000 MHz ;
USE PRIMARY NET "lcd_clk_derived_clockgen" ;
USE SECONDARY NET "PicoLCDdriver_u/lcdstate_derived_clock_0" ;
USE SECONDARY NET "PicoLCDdriver_u/lcdstate_derived_clock_1" ;
USE SECONDARY NET "PicoLCDdriver_u/lcdstate_derived_clock_2" ;
USE SECONDARY NET "PicoLCDdriver_u/lcdstate_derived_clock_3" ;
LOCATE COMP "rstn" SITE "N3" ;
LOCATE COMP "LCD_COM0" SITE "B14" ;
LOCATE COMP "LCD_COM1" SITE "C13" ;
LOCATE COMP "LCD_COM2" SITE "C14" ;
LOCATE COMP "LCD_COM3" SITE "D12" ;
LOCATE COMP "LCD_5" SITE "J12" ;
LOCATE COMP "LCD_6" SITE "J14" ;
LOCATE COMP "LCD_7" SITE "J13" ;
LOCATE COMP "LCD_8" SITE "K12" ;
LOCATE COMP "LCD_9" SITE "K13" ;
LOCATE COMP "LCD_10" SITE "K14" ;
LOCATE COMP "LCD_11" SITE "L14" ;
LOCATE COMP "LCD_12" SITE "M13" ;
LOCATE COMP "brd_clk" SITE "A7" ;
LOCATE COMP "oscclkout" SITE "C2" ;
LOCATE COMP "rstout" SITE "D1" ;
LOCATE COMP "cntout" SITE "C3" ;
#LOCATE COMP "spi_clk" SITE "M4" ;
#LOCATE COMP "spi_out" SITE "N4" ;
#LOCATE COMP "spi_cs0" SITE "P3" ;
#LOCATE COMP "spi_in" SITE "P13" ;
LOCATE COMP "FTDI_txd" SITE "E1" ;
LOCATE COMP "FTDI_rxd" SITE "E2" ;
LOCATE COMP "FTDI_act" SITE "E3" ;
LOCATE COMP "temp_alert" SITE "B7" ;
LOCATE COMP "EnI2CSPI" SITE "N2" ;
LOCATE COMP "EnAMP" SITE "P2" ;
IOBUF PORT "rstn" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "oscclkout" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "rstout" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "cntout" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "LCD_COM0" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "LCD_COM1" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "LCD_COM2" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "LCD_COM3" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "LCD_5" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "LCD_6" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "LCD_7" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "LCD_8" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "LCD_9" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "LCD_10" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "LCD_11" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "LCD_12" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "spi_clk" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "spi_out" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "spi_cs0" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "spi_in" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "brd_clk" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "FTDI_rxd" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "FTDI_txd" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "FTDI_act" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "temp_alert" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "EnI2CSPI" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "EnAMP" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "scl" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "sda" IO_TYPE=LVCMOS25 PULLMODE=UP ;
